<!DOCTYPE html>
<html>
<head>
    <title>Vacancies</title>
</head>
<body>
    <h1>Vacancies</h1>
    <h2> All Vacancies Count in Database: <span id="vacancy-count"></span></h2>
    <form method="get">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" id="name"><br>

        <label for="salary_from">Salary From:</label>
        <input type="number" name="salary_from" placeholder="Salary From" id="salary_from"><br>

        <label for="salary_to">Salary To:</label>
        <input type="number" name="salary_to" placeholder="Salary To" id="salary_to"><br>

        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Address" id="address"><br>

        <button type="submit">Apply Filter</button>
    </form>

    <button id="upload">Upload</button>


    <ul>
        {% for vacancy in vacancies %}
            <li>
                <a href="{{ vacancy.url }}">{{ vacancy.name }}</a><br>
                Salary: {{ vacancy.salary_from }} - {{ vacancy.salary_to }}<br>
                Address: {{ vacancy.address }}
            </li>
        {% endfor %}
    </ul>

    <script>
        document.getElementById('upload').addEventListener('click', function() {
            fetch('{% url "vacancies:upload" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    pages: 1
                })
            }).then(response => response.json()).then(data => {
                if (data.status === 'Database updated') {
                    alert('Database updated');
                }
            });
        });

        function updateVacancyCount() {
            fetch('{% url "vacancies:count" %}')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('vacancy-count').innerText = data.count;
                });
        }

        updateVacancyCount();
    </script>
</body>
</html>